{% extends 'base.html' %}

{% load static i18n widget_tweaks %}

{% block title %}
    {{ block.super }} - {% trans 'Create Profile' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% trans 'Create Profile' %}</h1>
            <div class="row">

                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if form.erros %}
                    {{ form.non_field_errors }}
                {% endif %}


                <form class="col s12" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="file-field input-field col s12">
                            <div class="btn waves-effect waves-light">
                                <span>{% trans 'Photo' %}</span>
                                {{ form.photo|add_class:'validate' }}
                            </div>
                            <div class="file-path-wrapper">
                                <label>
                                    <input type="text" class="file-path-validate">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.bio|add_class:'materialize-textarea validate'}}
                            <label for="id_bio">{% trans 'Bio' %}</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form.birthday|add_class:'datepicker validate' }}
                            <label for="id_birthday">{% trans 'Birthday' %}</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form.gender|add_class:'validate' }}
                            <label for="id_gender">{% trans 'Gender' %}</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form.cell_phone|add_class:'validate' }}
                            <label for="id_cell_phone">{% trans 'Cell Phone' %}</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">
                        {% trans 'Submit' %}
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
