{% extends 'base.html' %}

{% load static i18n widget_tweaks %}

{% block title %}
    {{ block.super }} - {% trans 'Feedback Details' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>{% trans 'View feedback details' %}</h4>
                {% if messages %}
                    {% for message in messages %}
                        <h5></h5>
                    {% endfor %}
                {% else %}
                    <div class="col s12">
                        <table class="highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Feedback' %}</th>
                                    <td>{{ comment.comment }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans 'Datetime' %}</th>
                                    <td>{{ comment.created_at }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans 'Circle' %}</th>
                                    <td>{{ comment.circle }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans 'Actions' %}</th>
                                    <td style="padding-left: 3%; width: 33%">
                                        <a href="{% url 'comments:mark_unread' comment.id %}"
                                           title="{% trans 'Unread' %}"
                                           class="btn waves-effect waves-light green">
                                            <i class="material-icons">markunread</i> {% trans 'Unread' %}
                                        </a>
                                    </td>
                                    <td style="padding-left: 3%; width: 33%">
                                        <a href="{% url 'comments:delete_comment' comment.id %}"
                                           title="{% trans 'Delete' %}"
                                           class="btn waves-effect waves-light red">
                                            <i class="material-icons">cancel</i> {% trans 'Delete' %}
                                        </a>
                                    </td>
                                    <td style="padding-left: 3%; width: 30%">
                                        <a href="{% url 'accounts:dashboard' %}"
                                           title="{% trans 'Dashboard' %}"
                                           class="btn waves-effect waves-light blue">
                                            <i class="material-icons">dvr</i> {% trans 'Dashboard' %}
                                        </a>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                {% endif %}
                <div class="col s12">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
